body {
    background-image: url("../assets/c1.png");
}

.box {
    width: 800px;
    height: 400px;
    margin: 150px auto 0px auto;
    border: 10px solid #fff;
    background-image: radial-gradient(closest-corner at 30% 40%, red, yellow, green);
}

h1,
p {
    margin: 150px 150px 0px 150px;
    float: left;
    font-family: tahoma;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin-top: 30px;
}